.details {
	width: 100%;
	display: grid;
	grid-template-columns: 65% 35%;
}

.details__properties {
	margin-top: -1px;
	background: #fff;
	box-shadow: 0 0 0 1px #ddd inset;
}

.details__properties p {
    margin-top: 0;
}

.details__alt-text .components-external-link {
    display: block;
    margin-top: 8px;
}

.details__inherent, .details__post {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
}
