.details {
	display: flex;
	flex-grow: 1;
}

.details__main {
	flex-grow: 1;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details__image {
	max-width: 100%;
	box-shadow: 0 0 5px var( --color-grey-10 );
	background-image:
		linear-gradient(
			45deg,
			#c4c4c4 25%,
			transparent 25%,
			transparent 75%,
			#c4c4c4 75%,
			#c4c4c4
		),
		linear-gradient(
			45deg,
			#c4c4c4 25%,
			transparent 25%,
			transparent 75%,
			#c4c4c4 75%,
			#c4c4c4
		);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

.details__properties {
	flex-shrink: 0;
	width: 35%;
	margin-top: -1px;
	background: #fff;
	box-shadow: 0 0 0 1px #ddd inset;
}

.details__properties p {
    margin-top: 0;
}

.details__alt-text .components-external-link {
    display: block;
    margin-top: 8px;
}

.details__inherent, .details__post {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
}
