.library {
	flex-grow: 1;
	align-items: stretch;
}

.library--list {
	background: #fff;
}

.library__loader {
	/*width: auto;*/
	/*height: 150px;*/
}

.library__view-options {
	display: flex;
	justify-content: space-between;
	padding: 5px 16px;
	background: #fff;
	border: 1px solid #ddd;
	border-left: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.library__view-options > div {
	display: flex;
	align-items: center;
}

.library__view-options label {
	margin: 0 0.5em 0 0;
}

.library__item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.library__no-results {
	font-size: 1.5rem;
	flex-grow: 1;
	text-align: center;
	color: var( --color-grey-50 );
	margin: 1rem 0;
}

.library--grid .library__item-list {
	display: flex;
	flex-wrap: wrap;
}

.library--grid .library-listitem {
	margin: 0.4rem;
}

.library--list .library-listitem:nth-child(2n) {
	background: #f9f9f9;
}
