.header {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: #fff;
	border: 1px solid #ddd;
	padding: 0 16px;
	height: 48px;
}

.header__primary {
	flex-grow: 1;
	display: flex;
	align-items: baseline;
}

.header .logo {
	margin-right: 1rem;
}

.header h1 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	margin-right: 0.2em;
	line-height: 1.3;
}
