.main {
	box-sizing: border-box;
	margin: 1rem auto;

	display: flex;
	flex-direction: column;
}

#wp-media-grid {
	display: flex;
	flex-direction: column;
}

.main__library-wrap {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: -1px;
}
