.button {
	background: var( --color-primary );
	color: var( --color-white );
	font: inherit;
	display: inline-block;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 4px;
}

.button:focus {
	border-color: var( --color-grey );
}

.button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
