.dropupload {
	flex-grow: 1;
}
.dropupload--dropping {
	outline: 2px dashed var( --color-grey-50 );
	border-radius: 3px;
	position: relative;
}
.dropupload--dropping:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	content: "Drop files to upload";
	font-size: 2rem;
	color: var( --color-grey-50 );
	background: var( --color-white-80 );
}
