.welcome {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome__content {
	background: var( --color-white );
	padding: 1rem;
	max-width: 600px;
	text-align: center;
}
