:root {
	--color-primary: rgba(245, 110, 40, 1);
	--color-primary-10: rgba(245, 110, 40, 0.1);
	--color-primary-20: rgba(245, 110, 40, 0.2);
	--color-accent: rgba(48, 188, 237, 1);
	--color-accent-05: rgba(48, 188, 237, 0.05);
	--color-accent-10: rgba(48, 188, 237, 0.1);
	--color-accent-20: rgba(48, 188, 237, 0.2);
	--color-grey: rgba(48, 48, 54, 1);
	--color-grey-05: rgba(48, 48, 54, 0.05);
	--color-grey-10: rgba(48, 48, 54, 0.1);
	--color-grey-50: rgba(48, 48, 54, 0.5);
	--color-white: rgba(255, 250, 255, 1);
	--color-white-10: rgba(255, 250, 255, 0.1);
	--color-white-80: rgba(255, 250, 255, 0.8);
	--color-black: rgba(5, 4, 1, 1);
}

*, *:before, *:after {
	box-sizing: border-box;
}

label {
	display: block;
	margin: 0 0 1em;
}
label > span {
	display: block;
	font-weight: 500;
}
label > span + input,
label > span + textarea {
	display: block;
	font: inherit;
	width: 100%;
}

body.toplevel_page_obscura #wpcontent {
	padding-left: 0;
}

body.toplevel_page_obscura #wpbody-content {
	padding-bottom: 0;
	float: none;
	height: 100%;
}

#obscura-root #wp-media-grid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: calc(100vh - 32px);
}

body.toplevel_page_obscura #wpfooter {
	display: none;
}

/* To be added to core? */
.view-switch label {
	display: block;
	float: left;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 1.84615384;
	text-decoration: none;
}

.view-switch label:before {
	color: #b4b9be;
	display: inline-block;
	font: normal 20px/1 dashicons;
	speak: never;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.view-switch label:hover:before,
.view-switch label:focus:before {
	color: #727272;
}

.view-switch label.current:before {
	color: #0073aa;
}
